{% extends "layout.html" %}

{% block main %}

<header class="mast-accnt-home">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <table class="table table-striped account-table table-responsive-md">
                    <h2 class="title text-white font-weight-bold">Your Tracebooks</h2>
                    <hr>
                    <thead>
                        <tr>
                            <th scope="col">Tracebook</th>
                            <th scope="col">#</th>
                            <th scope="col">Location</th>
                            <th scope="col">Entries</th>
                            <th scope="col">Download</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <form id="form" action="{{url_for('account')}}" method="POST">
                            {% for tracebook in tracebooks %}
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <tr>
                                <td>{{ tracebook[0] }}</td>
                                <td>{{ tracebook[3] }}</td>
                                <td>{{ tracebook[1] }}</td>
                                <td>{{ tracebook[4] }}</td>
                                <td><button input type="submit" name="csv" value="{{ tracebook[3] }}"
                                        class="btn btn-primary mb-1 btn-sm js-scroll-trigger">CSV</button></td>
                                <td><button input type="submit" name="delete" value="{{ tracebook[0] }}"
                                        class="btn btn-primary mb-1 btn-sm js-scroll-trigger">x</button></td>
                            </tr>
                            {% endfor %}
                        </form>
                    </tbody>
                </table>
                <div class="button-add">
                    <a class="btn btn-primary mb-2 btn-lg js-scroll-trigger" href="#add">Add Tracebook</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section" id="add">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
            </div>
            <div class="col-lg-8 align-self-baseline">
                <form action="account.html" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div>
                        <h2 class="form-group text-black font-weight-bold">Add a Tracebook &#128567</h2>
                    </div>
                    <div class="form-group text-black font-weight-bold">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Wave's Coffee"
                            required>
                    </div>
                    <div>
                        <h5 class="form-group text-black font-weight-bold space">Details</h5>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-black font-weight-bold">
                            <label for="streetname">Street Name</label>
                            <input type="streetname" name="streetname" class="form-control" id="streetname"
                                placeholder="Main St" required>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold">
                            <label for="streetnumber">Street Number</label>
                            <input type="streetnumber" name="streetnumber" class="form-control" id="streetnumber"
                                placeholder="567" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-black font-weight-bold">
                            <label for="unitnumber">Unit Number</label>
                            <input type="text" name="unitnumber" class="form-control" id="unitnumber" placeholder="5A"
                                required>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold">
                            <label for="city">City</label>
                            <input type="city" name="city" class="form-control" id="city" placeholder="Vancouver"
                                required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 text-black font-weight-bold">
                            <label for="password">Province</label>
                            <select class="form-control" name="province">
                                {% set i = 0 %}
                                {% for i in range(length) %}
                                <option value="{{ provinces[i] }}">{{ provinces[i] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold">
                            <label for="confpassword">Country</label>
                            <input type="confpassword" name="country" class="form-control" id="confPassword"
                                placeholder="CANADA" required disabled>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold">
                            <label for="post">Postal Code</label>
                            <input type="postal" name="post" class="form-control" id="postal" placeholder="B4C4J9"
                                required>
                        </div>
                    </div>
                    <hr>
                    <button input type="submit" class="btn btn-primary mb-2 btn-lg js-scroll-trigger">Add</button>
                    <div class="form-group">
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}