{% extends "layout.html" %}

{% block main %}

<header class="mast-accnt-home">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <table class="table table-striped account-table table-responsive-md">
                    <h2 class="title text-white font-weight-bold">Account Settings</h2>
                    <hr>
                    <thead>
                        <tr>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Email</th>
                            <th scope="col">Tracebooks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ user[0] }}</td>
                            <td>{{ user[1] }}</td>
                            <td>{{ user[2] }}</td>
                            <td>{{ count[0] }}</td>
                        </tr>
                        </form>
                    </tbody>
                </table>
                <div class="button-add">

                    <a class="btn btn-primary mb-2 btn-lg js-scroll-trigger" href="#edit">Edit Details</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="page-section" id="edit">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-baseline">
                <div>
                    <h2 class="form-group text-black font-weight-bold space">Edit Details &#128567</h2>
                </div>
                <hr>

                <form action="{{url_for('settings')}}" method="POST" class="form-responsive-md">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-2 text-black font-weight-bold text-left">
                            <label for="firstname">First Name</label>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold text-left">
                            <input type="text" name="firstname" class="form-control" id="firstname" placeholder="Jim.."
                                required>
                        </div>
                        <div class="form-group col-md-2 text-white font-weight-bold">
                            <button type="submit" class="btn btn-primary btn-md js-scroll-trigger">Update</button>
                        </div>
                    </div>
                </form>
                <form action="{{url_for('settings')}}" method="POST" class="form-responsive-md">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-2 text-black font-weight-bold text-left">
                            <label for="lastname">Last Name</label>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold text-left">
                            <input type="text" name="lastname" class="form-control" id="lastname" placeholder="Smith.."
                                required>
                        </div>
                        <div class="form-group col-md-2 text-white font-weight-bold">
                            <button type="submit" class="btn btn-primary btn-md js-scroll-trigger"
                                href="#about">Update</button>
                        </div>
                    </div>
                </form>
                <form action="{{url_for('settings')}}" method="POST" class="form-responsive-md">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-2 text-black font-weight-bold text-left">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold text-left">
                            <input type="text" name="email" class="form-control" id="email" placeholder="jim.smith@..."
                                required>
                        </div>
                        <div class="form-group col-md-2 text-white font-weight-bold">
                            <button type="submit" class="btn btn-primary btn-md js-scroll-trigger"
                                href="#about">Update</button>
                        </div>
                    </div>
                </form>
                <form action="{{url_for('settings')}}" method="POST" class="form-responsive-md">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-2 text-black font-weight-bold text-left">
                            <label for="password">Password</label>
                        </div>
                        <div class="form-group col-md-6 text-black font-weight-bold text-left">
                            <input type="text" name="password" class="form-control" id="password"
                                placeholder="abc123..." required>
                        </div>
                        <div class="form-group col-md-2 text-white font-weight-bold">
                            <button type="submit" class="btn btn-primary btn-md js-scroll-trigger"
                                href="#about">Update</button>
                        </div>
                    </div>
                </form>
                <hr>
                <form action="{{url_for('settings')}}" method="POST" class="form-responsive-md">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="space">
                        <button type="submit" name="delete_account" value="{{ usr_id }}" class=" btn btn-primary btn-md
                        js-scroll-trigger" href="#about">Delete My
                            Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</section>


{% endblock %}