{% extends "tracebooks/tracebook.html" %}

{% block main %}

<section class="page-section" id="contact">
    <div class="container">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-6 align-self-baseline">
                <h3>Thank You for Saving Lives!</h3>
                <hr>
                <div class="form-row text-black font-weight-bold justify-content-center">
                    <button input type="submit" class="btn btn-primary btn-lg js-scroll-trigger" href="#about"
                        onclick="location.href='https://health-infobase.canada.ca/covid-19/dashboard/'">🇨🇦 Government
                        C19
                        Situational Awareness Dashboard</button>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}